# .clang-format file

BasedOnStyle: LLVM
Language: Cpp

ColumnLimit: 110
IndentWidth: 4
BreakBeforeBraces: Allman
BreakConstructorInitializers: BeforeComma
DerivePointerAlignment: false
PointerAlignment: Left
ReferenceAlignment: Pointer
AllowShortFunctionsOnASingleLine: None
LineEnding: LF

IncludeBlocks: Regroup
IncludeCategories:
  - Regex: ^<Q.*>
    Priority: 1
    SortPriority: 0
    CaseSensitive: false
  - Priority: 2
    Regex: ^<.*>
    CaseSensitive: false
    SortPriority: 0
  - Regex: ^".*"
    Priority: 3
    SortPriority: 0
    CaseSensitive: false

EmptyLineBeforeAccessModifier: Always
AccessModifierOffset: -4
BinPackArguments: true
BinPackParameters: true
AllowAllParametersOfDeclarationOnNextLine: true
AlignEscapedNewlines: Left
SeparateDefinitionBlocks: Always
QualifierAlignment: Custom
QualifierOrder:
  - inline
  - static
  - const
  - type
SpacesInLineCommentPrefix:
  Minimum: 0
  Maximum: -1
SpaceInEmptyBlock: true
SpaceBeforeCpp11BracedList: true
